* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf") format("truetype");
    font-display: swap;
}

body {
    font-family: "Raleway", sans-serif, system-ui;
    min-height: 100vh;
}