* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page {
    gap: 2rem;
}

.description {
    margin-bottom: 1rem;
}

.title {
    text-decoration: underline;
}

.featured-dishes-cont {
    width: 60rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 1fr;
}

.featured-dishes-title {
    transition: all 0.3s ease;
    color: var(--shrimp-orange);
    font-size: 2rem;
    align-self: center;
    grid-column: 1 / 4;
    grid-row: 1 / 2 ;
    width: fit-content;
    justify-self: center;
    cursor: default;
}

.featured-dishes-title:hover {
    text-shadow: 5px 0 10px var(--shrimp-orange);
}

.featured-dish-img {
    margin-top: 0.8rem;
    max-width: 15rem;
    max-height: 15rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.featured-dish-img:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px white;
}

.featured-dish-text {
    transition: all 0.3s ease;
    cursor: default;
}

/* If .featured-dish contains an image that is being hovered
 then apply style to the text inside it */
.featured-dish:has(.featured-dish-img:hover) .featured-dish-text {
    text-shadow: 5px 0 10px white;
}